<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Registration</th>
      <th>Nic</th>
      <th>Address</th>
      <th>City</th>
      <th>Province</th>
      <th>District</th>
      <th>Education</th>
      <th>Contact</th>
      <th>Email</th>
      <th>Department</th>
      <th>Admission</th>
      <th>Degree</th>
      <th>Subject</th>
      <th>Faculty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.Firstname %></td>
        <td><%= student.Lastname %></td>
        <td><%= student.Registration %></td>
        <td><%= student.Nic %></td>
        <td><%= student.Address %></td>
        <td><%= student.City %></td>
        <td><%= student.Province %></td>
        <td><%= student.District %></td>
        <td><%= student.Education %></td>
        <td><%= student.Contact %></td>
        <td><%= student.Email %></td>
        <td><%= student.department.Name %></td>
        <td><%= student.admission.Firstname%></td>
        <td><%= student.degree.Name%></td>
        <td><%= student.subject.Name%></td>
        <td><%= student.faculty.Firstname%></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div style="padding-left:45%; font-size:16px;">

<%= link_to 'New Student', new_student_path %>
