<%= form_for(@teachassign) do |f| %>
  <% if @teachassign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teachassign.errors.count, "error") %> prohibited this teachassign from being saved:</h2>

      <ul>
      <% @teachassign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :faculty_id %><br>
    <%= f.text_field :faculty_id %>
  </div>
  <div class="field">
    <%= f.label :semester_id %><br>
    <%= f.text_field :semester_id %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.text_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :session__id %><br>
    <%= f.text_field :session__id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
