<p id="notice"><%= notice %></p>

<h1>Listing Teachassigns</h1>

<table>
  <thead>
    <tr>
      <th>Faculty</th>
      <th>Semester</th>
      <th>Course</th>
      <th>Session </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachassigns.each do |teachassign| %>
      <tr>
        <td><%= teachassign.faculty %></td>
        <td><%= teachassign.semester %></td>
        <td><%= teachassign.course %></td>
        <td><%= teachassign.session_ %></td>
        <td><%= link_to 'Show', teachassign %></td>
        <td><%= link_to 'Edit', edit_teachassign_path(teachassign) %></td>
        <td><%= link_to 'Destroy', teachassign, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Teachassign', new_teachassign_path %>
