<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.Name %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @subject.Credits %>
</p>

<p>
  <strong>Incharge:</strong>
  <%= @subject.Incharge %>
</p>

<p>
  <strong>Session:</strong>
  <%= @subject.session %>
</p>

<p>
  <strong>End:</strong>
  <%= @subject.end %>
</p>

<div style="padding-left:45%; font-size:16px;">
<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
