<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @att_master.date %>
</p>

<p>
  <strong>Topics:</strong>
  <%= @att_master.topics %>
</p>

<p>
  <strong>Date marked:</strong>
  <%= @att_master.date_marked %>
</p>

<p>
  <strong>Course:</strong>
  <%= @att_master.course %>
</p>

<p>
  <strong>Teachassign:</strong>
  <%= @att_master.teachassign %>
</p>

<%= link_to 'Edit', edit_att_master_path(@att_master) %> |
<%= link_to 'Back', att_masters_path %>
