<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @session_.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @session_.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @session_.end %>
</p>

<p>
  <strong>Status:</strong>
  <%= @session_.status %>
</p>

<p>
  <strong>Program:</strong>
  <%= @session_.program %>
</p>

<%= link_to 'Edit', edit_session__path(@session_) %> |
<%= link_to 'Back', session_s_path %>
